@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  color: #5e7a7d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #c5e4e7;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin: auto 0;
}

.mid {
  min-height: 29rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem;
  background-color: white;
  border-radius: 20px;
  min-width: 53rem;
  max-width: 53rem;
}

.card1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  font-weight: 700;
  min-width: 52%;
  padding: 1rem;
}

.card1 .inp {
  background-color: #f4fafa;
  border-radius: 6px;
  border: 0;
  height: 50px;
}

.card1 .bill {
  background-image: url(../images/icon-dollar.svg);
  background-position-x: 11px;
  background-position-y: center;
  background-size: 10px;
  background-repeat: no-repeat;
  text-align: right;
  width: 95%;
  font-weight: 800;
  font-size: 24px;
  color: #00494d;
}

.card1 .bill:focus {
  outline-color: #26c0ab;
}

.card1 .bill:hover {
  cursor: pointer;
}

.card1 .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* .boxs {
      display: flex;
      align-items: center;
      justify-content: stretch;
      text-align: center;
      align-content: center;


      .elem {
      min-width: 6.9rem;
      max-width: 6.9rem;
      min-height: 2.4rem;
      max-height: 2.4rem;
      margin: 0.4rem;
    }
    }*/
}

.card1 .box #custom {
  background-color: #f4fafa;
  border-radius: 6px;
  border: 0;
}

.card1 .box .elem {
  height: 2rem;
  width: 30%;
  margin: 0.4rem;
}

.card1 .box label {
  background-color: #00494d;
  border-radius: 5px;
  text-align: center;
  color: white;
  padding: 8px;
  -webkit-transition: background-color 0.15s ease-out;
  transition: background-color 0.15s ease-out;
}

.card1 .box label:hover {
  background-color: #67dacb;
  color: #00494d;
  cursor: pointer;
}

.card1 .box #text {
  background-color: #f4fafa;
}

.card1 .box #text::-webkit-input-placeholder {
  color: #5e7a7d;
  font-weight: 600;
  font-size: 17px;
}

.card1 .box #text:-ms-input-placeholder {
  color: #5e7a7d;
  font-weight: 600;
  font-size: 17px;
}

.card1 .box #text::-ms-input-placeholder {
  color: #5e7a7d;
  font-weight: 600;
  font-size: 17px;
}

.card1 .box #text::placeholder {
  color: #5e7a7d;
  font-weight: 600;
  font-size: 17px;
}

.npp {
  background-image: url(../images/icon-person.svg);
  background-position-x: 11px;
  background-position-y: center;
  background-size: 10px;
  background-repeat: no-repeat;
  text-align: right;
  width: 95%;
  font-weight: 800;
  font-size: 24px;
  color: #00494d;
}

.npp:focus {
  outline-color: #26c0ab;
}

.card2 {
  background-color: #00494d;
  min-width: 48%;
  border-radius: 20px;
  padding: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card2 h3 {
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.card2 .price {
  font-size: 39px;
  font-weight: bold;
  color: #26c0ab;
}

.card2 input {
  width: 70%;
  background-color: #26c0ab;
  min-height: 2rem;
  border-radius: 5px;
  border: 0;
  color: #00494d;
  font-weight: 700;
  font-size: 15px;
  -webkit-box-shadow: 5px 5px 50px rgba(255, 255, 255, 0.183);
          box-shadow: 5px 5px 50px rgba(255, 255, 255, 0.183);
  -webkit-transition: background-color 0.15s ease-out;
  transition: background-color 0.15s ease-out;
}

.card2 input:hover {
  background-color: #67dacb;
  cursor: pointer;
}

.top-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mid-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bot-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 858px) {
  .mid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    min-width: 100%;
  }
  .header {
    margin-top: 3rem;
  }
  .mid-card {
    margin-bottom: 1rem;
  }
  .top-card {
    margin-bottom: 1rem;
  }
}

.hidden {
  display: none;
}

.hidden:checked + label {
  background-color: #67dacb;
}

@media screen and (max-width: 500px) {
  .card {
    max-width: 90%;
  }
  .mid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 90%;
  }
  .header {
    margin-top: 2rem;
  }
  .mid-card {
    margin-bottom: 1rem;
  }
  .top-card {
    margin-bottom: 1rem;
  }
  .elem {
    width: 43% !important;
  }
  .box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 305px) {
  .elem {
    width: 100% !important;
  }
  .top-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mid-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */